!/Data/
!/Data/tests/.gitkeep
!/Data/raw
!/Data/raw/.gitkeep
!/Data/raw/sample.csv
!/Data/models/best_model.pth
!/Data/tests
!/Data/raw/working/sample
!/Data/models/.gitkeep
*.pyc
/Data/*
/Data/raw/*
/Data/raw/working/*
